<!doctype html>
<html lang="en">
	
  <head>
       	<title>{{ tickerSymbol }} data </title>
 <!-- <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.css" rel="stylesheet" type="text/css"> 
<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.3.min.js"> -->
  </head>
	<body>
		<div class=page>
  			<h1>Generated graph for {{ tickerSymbol }}<br>
 			<a href=index > Back</h1></a> 
  			<div class=metanav>
    			
			<p> {{ plottingData | safe }} </p>
    			
  			</div>
		</div>
	</body>


</html>

